{{ define "head" }}
<title>DMARC Domain {{ .Domain }}</title>
{{ end }}

{{ define "content" }}
<div class="panel panel-default">
    <div class="panel-heading">Reports for Domain {{ .Domain }}</div>
    <div class="panel-body">
        <table>
            <tr>
                <td>Total reports:</td>
                <td>{{ len .Reports }}</td>
            <tr>
                <td>Reports last week</td>
                <td>{{ len .ReportsLastWeek }}</td>
            <tr>
                <td>Reports last month</td>
                <td>{{ len .ReportsLastMonth }}</td>
            <tr>
                <td>Reports last half year</td>
                <td>{{ len .ReportsLastSixMonth }}</td>
            <tr>
                <td>Reports last year</td>
                <td>{{ len .ReportsLastYear }}</td>
        </table>
    </div>
</div>
{{ end }}