{{ define "head" }}
<title>DMARC Domain {{ .Domain }}</title>
{{ end }}

{{ define "content" }}
<div class="panel panel-default">
    <div class="panel-heading">Reports for Domain {{ .Domain }}</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Total reports:</td>
                <td>{{ len .Reports }}</td>
            </tr>
            <tr>
                <td>Reports last week</td>
                <td>{{ len .ReportsLastWeek }}</td>
            </tr>
            <tr>
                <td>Reports last month</td>
                <td>{{ len .ReportsLastMonth }}</td>
            </tr>
            <tr>
                <td>Reports last half year</td>
                <td>{{ len .ReportsLastSixMonth }}</td>
            </tr>
            <tr>
                <td>Reports last year</td>
                <td>{{ len .ReportsLastYear }}</td>
            </tr>
            <tr>
                <td>Last 10 Reports
                <table class="table">
                    <thead>
                        <tr><td>From</td><td>Date</td></tr>
                    </thead>
                    <tbody>
                    {{ range $key, $value := .LastReports }}
                    <tr>
                        <td><a href="report/{{ $value.Metadata.ReportID }}">{{ $value.Metadata.OrganizationName }}</a></td>
                        <td><a href="report/{{ $value.Metadata.ReportID }}">{{ $value.Metadata.DateRange.End }}</a></td>
                    </tr>

                    {{ end }}
                    </tbody>
                </table>
                    </td>
            </tr>
        </table>
    </div>
</div>
{{ end }}