{{ define "head" }}
<title>Report {{ .Report.Metadata.ReportID }}</title>
{{ end }}

{{ define "metadata" }}
<div class="dmarc-report-metadata panel panel-default">
    <div class="panel-heading">Report from {{ .OrganizationName }} ({{ .DateRange.Begin }} - {{ .DateRange.End }})</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Contact Email</td>
                <td>{{ .Email }}</td>
            </tr>
            <tr>
                <td>Contact Info</td>
                <td>{{ .ContactInfo }}</td>
            </tr>
            <tr>
                <td>Report ID</td>
                <td>{{ .ReportID }}</td>
            </tr>
        </table>
    </div>
</div>
{{ end }}

{{ define "policy_published" }}
<div class="dmarc-policy-published panel panel-default">
    <div class="panel-heading">Published Policy for {{ .Domain }}</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>DKIM Identifier Alignment</td>
                <td>{{ .DKIM }}</td>
            </tr>
            <tr>
                <td>SPF Identifier Alignment</td>
                <td>{{ .SPF }}</td>
            </tr>
            <tr>
                <td>Requested Mail Receiver Policy</td>
                <td>{{ .Policy }}</td>
            </tr>
            <tr>
                <td>Subdomain Policy</td>
                <td>{{ .SubdomainPolicy }}</td>
            </tr>
            <tr>
                <td>Applied Percentage</td>
                <td>{{ .Percent }}</td>
            </tr>
        </table>
    </div>
</div>
{{ end }}

{{ define "records" }}
<div class="dmarc-records panel panel-default">
    <div class="panel-heading">Records</div>
    <div class="panel-body">
        {{ range $value := . }}
        {{ template "record" $value }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "record" }}
<div class="panel-heading">Source: {{ .Row.SourceIP }} ({{ .Row.Count }})</div>
<div class="panel-body">
    <div class="panel-heading">Evaluated Policies</div>
    <div class="panel-body">
        <table class="table-striped">
            <thead>
            <tr>
                <td>Disposition</td>
                <td>DKIM</td>
                <td>SPF</td>
            </tr>
            </thead>
            <tbody>
            {{ range $policy := .Row.PolicyEvaluated }}
            <tr>
                <td>{{ $policy.Disposition }}</td>
                <td>{{ $policy.DKIM }}</td>
                <td>{{ $policy.SPF }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>

    <div class="panel-heading">Identifiers</div>
    <div class="panel-body">
        <table class="table-striped">
            {{ if len .Identifiers.HeaderFrom  }}
            <tr>
                <td>Header From</td>
                <td>{{ range $addr := .Identifiers.HeaderFrom }}{{ $addr }} {{ end }}</td>
            </tr>
            {{ end }}
            {{ if len .Identifiers.EnvelopeFrom  }}
            <tr>
                <td>Envelope From</td>
                <td>{{ range $addr := .Identifiers.EnvelopeFrom }}{{ $addr }} {{ end }}</td>
            </tr>
            {{ end }}
            {{ if len .Identifiers.EnvelopeTo  }}
            <tr>
                <td>Envelope to</td>
                <td>{{ range $addr := .Identifiers.EnvelopeTo }}{{ $addr }} {{ end }}</td>
            </tr>
            {{ end }}
        </table>
    </div>

    <div class="panel-heading">DKIM Auth Results</div>
    <div class="panel-body">
        <table class="table-striped">
            <thead>
            <tr>
                <td>Domain</td>
                <td>Result</td>
                <td>Human Result</td>
                <td>Selector</td>
            </tr>
            </thead>
            {{ range $result := .AuthResults.DKIM  }}
            <tr>
                <td>{{ $result.Domain }}</td>
                <td>{{ $result.Result }}</td>
                <td>{{ $result.HumanResult }}</td>
                <td>{{ $result.Selector }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
    <div class="panel-heading">SPF Auth Results</div>
    <div class="panel-body">
        <table class="table-striped">
            <thead>
            <tr>
                <td>Domain</td>
                <td>Result</td>
                <td>Scope</td>
            </tr>
            </thead>
            {{ range $result := .AuthResults.SPF  }}
            <tr>
                <td>{{ $result.Domain }}</td>
                <td>{{ $result.Result }}</td>
                <td>{{ $result.Scope }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>
{{ end }}

{{ define "content" }}
{{ template "metadata" .Report.Metadata }}
{{ template "policy_published" .Report.PolicyPublished }}
{{ template "records" .Report.Records }}
{{ end }}
